/*
 * Stylesheet for the Mooze page
 */

/*
* Increase / Decrease buttons and labels:
*/

html {
    padding: 0px;
}

.incDecButton {
    background-color: navy;
    text-align: center;
    font-weight: bold;
    padding-top: 35%;
    color: #E5E0D9;
    height: 50px;
    border-radius: 0px;
    user-select: none;
}

.incDecButton:link{
    color: white;
}

.incDecButton:hover {
    background-color: #222222;
    cursor: pointer;
}

.submitButton {
    background-color: navy;
    text-align: center;
    font-weight: bold;
    height: 20px;
    user-select: none;
    padding-top: 35%;
}

.submitButton:link{
    color: white;
}

.submitButton:hover {
    background-color: #222222;
    cursor: pointer;
}

.buttonCell {
    padding: 4px;
    width: 80px;
}

.animalCounter {
    border-style: solid;
    border-width: 4px;
    border-color: navy;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: #222222;
    color: whitesmoke;
}

.counterCell {
    padding: 4px;
}

.counterTitle {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#counterTable {
    margin: 0 auto;
}

#controlPad {
    background-color: #d6d6d6;
    border-radius: 0px;
    width:100%;
    position: absolute;
    top: 50%;
    z-index:1;
}

#map {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:50%;
    z-index:0;
}

/*
* Confirmation dialogue ribbon, visibility varies based on user action:
*/
#confirmSubmit {
    float: left;
    position: absolute;
    top: 50%;
    background-color: blue;
    color: white;
    width: 100%;
    height: 80px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    visibility: hidden;
}

